<div class="row">
  <div class="col-md-0">
  </div>
  <div class="col-md-12">
    <%= button_to "Add new class", "/courses/new", class: "btn btn-primary", method: :get %>
    <table class="table-striped" bgcolor="#000000">
      <tr>
        <th></th>
        <th>Hobby</th>
        <th>Description</th>
      </tr>
      <%@courses.each do |course| %>
        <tr>
          <td><img src="<%=course.background_image%>" class="photo"></td>
          <td><a href="/courses/<%=course.id%>"><%=course.hobby%></a></td>
          <td><%=course.description%></td>
        </tr>
      <%end%>
    </table>
  </div>
</div>

